@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Raleway:wght@100;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* 
 * Colors 
*/
/* 
 * General 
*/
.text {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
}

.title {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.title h2, .title h3 {
  font-weight: 700;
}

/* 
 * Header 
*/
header {
  background: #000;
  padding: 23px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header img {
  width: 79px;
  height: 29px;
}
header nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 40%;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav ul li {
  padding: 0px 6%;
}
header nav ul li a {
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.69;
  font-family: OpenSans;
  color: rgba(255, 255, 255, 0.69);
}
header nav ul li a:hover {
  opacity: 1;
  color: #fff;
}

/* 
 * Top Menu 
*/
.top {
  background: #9a9a9a;
  padding: 110px 150px 140px;
  height: 720px;
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__about {
  max-width: 520px;
}

.top__title {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: Raleway;
  font-size: 36px;
  color: #fff;
  margin-top: 33px;
}
.top__title:after {
  content: "";
  position: absolute;
  background: white;
  width: 64px;
  height: 2px;
  margin-top: 33px;
  margin-left: 7px;
}

.top__text {
  margin-top: 82px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.44;
}

.download-btn {
  margin-top: 44px;
}
.download-btn button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  width: 135px;
  height: 42px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.download-btn button:hover {
  color: #000;
  background: #fff;
}

/* 
 * Register 
*/
.register {
  width: 100%;
  max-width: 360px;
  height: 100%;
}

.register__title {
  padding: 18px 56px 15px 52px;
  background: #f5f5f5;
}
.register__title h3 {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 700;
}
.register__title h3 span {
  color: #ff8b38;
}

.reg__data {
  position: relative;
  background: #fff;
  height: 260px;
}
.reg__data input {
  width: 285px;
  -webkit-box-shadow: 0px 1px 0 0 rgba(0, 0, 1, 0.16);
          box-shadow: 0px 1px 0 0 rgba(0, 0, 1, 0.16);
  margin: 36px 45px 0px;
}
.reg__data input::-webkit-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  color: #bdbdbd;
}
.reg__data input::-moz-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  color: #bdbdbd;
}
.reg__data input:-ms-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  color: #bdbdbd;
}
.reg__data input::-ms-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  color: #bdbdbd;
}
.reg__data input::placeholder {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  color: #bdbdbd;
}
.reg__data input:nth-child(5) {
  margin-top: 50px;
}
.reg__data input:nth-child(7) {
  position: absolute;
  margin: 0;
  top: 260px;
  left: 0;
  width: 100%;
  height: 54px;
  background: #ff8b38;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.reg__data input:nth-child(7):hover {
  background: grey;
}

/* 
 * Social
*/
.social {
  padding: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social img {
  max-height: 46px;
}

.social__text .text {
  max-width: 360px;
}

/* 
 * Feature1
*/
.feature1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  max-height: 595px;
}

.feature1__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tab {
  width: 112px;
  height: 112px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.tab:first-child {
  background: #ff8b38;
}
.tab h4 {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  text-transform: uppercase;
  color: #fff;
}
.tab:hover {
  background: #ff8b38;
  cursor: pointer;
}

.feature1__text {
  max-width: 476px;
}
.feature1__text .text {
  margin-top: 52px;
}

.feature1__btn {
  margin-top: 51px;
}
.feature1__btn button {
  background: #ff8b38;
  width: 121px;
  height: 46px;
  border-radius: 3px;
  color: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.feature1__btn button:hover {
  background: #9a9a9a;
}

/* 
 * Feature2 
*/
.feature2 {
  height: 596px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature2__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.image {
  position: relative;
  background: #9a9a9a;
  width: 453px;
  height: 303px;
  opacity: 1;
}
.image:after {
  content: "";
  position: absolute;
  width: 525px;
  height: 375px;
  background: url("../images/shadow.webp");
  top: -16px;
  left: -36px;
  z-index: 0;
}

.feature2__text {
  background: white;
}
.feature2__text .title:after {
  content: "";
  position: absolute;
  background: orange;
  width: 64px;
  height: 2px;
  margin-top: 29px;
  margin-left: 0px;
}
.feature2__text .text {
  margin-top: 60px;
  max-width: 413px;
}
.feature2__text ul {
  margin: 46px 0px 0px 55px;
  max-width: 360px;
}
.feature2__text ul li:nth-child(odd) {
  position: relative;
  line-height: 1.21;
  font-weight: 600;
  font-size: 14px;
  font-family: OpenSans;
  margin-top: 40px;
}
.feature2__text ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  left: -60px;
  top: 0px;
  width: 40px;
  height: 40px;
  border: 3px solid #ff8b38;
  border-radius: 50%;
  background: url("../images/cloud.webp") center no-repeat, transparent;
}
.feature2__text ul li:nth-child(even) {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
}

/*
 * Feature3 
 */
.feature3 {
  height: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
}

.feature3__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.feature3__text .title:after {
  content: "";
  position: absolute;
  background: orange;
  width: 64px;
  height: 2px;
  margin-top: 29px;
  margin-left: 0px;
}
.feature3__text .text {
  margin-top: 60px;
  max-width: 473px;
}

/* 
 * Awesome
 */
.awesome {
  height: 592px;
  padding: 107px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awesome__top {
  text-align: center;
}
.awesome__top .text {
  margin-top: 62px;
}

.awesome__title {
  position: relative;
  font-family: "Raleway";
  font-size: 36px;
}
.awesome__title h2 {
  font-weight: normal;
}
.awesome__title:after {
  content: "";
  position: absolute;
  background: #ff8b38;
  width: 64px;
  height: 2px;
  margin-top: 30px;
  margin-left: 0px;
  right: 171px;
}

.awesome__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 350px;
  height: 197px;
}

.content__design .orange-circle {
  background: url("../images/img3.webp") center no-repeat;
}

.orange-circle {
  width: 70px;
  height: 70px;
  border: 3px solid #ff8b38;
  background: transparent;
  border-radius: 50%;
}

.content__craft .orange-circle {
  background: url("../images/img4.webp") center no-repeat;
}

.content__custom .orange-circle {
  background: url("../images/img5.webp") center no-repeat;
}

/*
 * Prices
*/
.pirces {
  background: #f5f5f5;
  height: 883px;
  width: 100%;
  padding: 100px 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices__top {
  position: relative;
  text-align: center;
}
.prices__top .title h2 {
  font-weight: normal;
  font-size: 36px;
}
.prices__top .title:after {
  content: "";
  position: absolute;
  background: #ff8b38;
  width: 64px;
  height: 2px;
  margin-top: 30px;
  margin-left: 0px;
  right: 123px;
}
.prices__top .text {
  margin-top: 62px;
}

.pirces__blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.block {
  text-align: center;
  max-width: 343px;
  width: 100%;
  height: 462px;
}
.block:nth-child(2) {
  height: 497px;
}

.block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 59px;
  background: #000;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  color: #fff;
}
.block__title h3 {
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
}

.block__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background: #000;
  height: 100px;
}
.block__price p {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 0.26;
  color: #fff;
  font-size: 35px;
  margin-bottom: 20px;
}
.block__price p span {
  font-size: 94px;
}

.block__payment {
  width: 100%;
  height: 51px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 14px 0px;
  font-weight: bold;
}

.block__orange-line {
  background: #ff8b38;
  min-height: 5px;
}

.block__list {
  background: #fff;
}
.block__list li {
  text-transform: uppercase;
  color: #86878b;
  padding: 14px 0px;
  border-top: 1px solid #f5f5f5;
}
.block__list li:first-child {
  border: 0;
}

/*
* Comments
*/
.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 105px 0px;
  height: 591px;
}

.comments__top {
  position: relative;
  text-align: center;
}
.comments__top .title h2 {
  font-weight: normal;
  font-size: 36px;
}
.comments__top .title:after {
  content: "";
  position: absolute;
  background: #ff8b38;
  width: 64px;
  height: 2px;
  margin-top: 30px;
  margin-left: 0px;
  right: 288px;
}
.comments__top .text {
  margin-top: 62px;
}

.comments__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 55px;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 273px;
}
.person .text {
  position: absolute;
  top: 24px;
  left: 12px;
  font-size: 14px;
  line-height: normal;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #9a9a9a;
  border-radius: 50%;
}

.about-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
}
.name p {
  margin-left: 15px;
}
.name p span {
  font-size: 14px;
  font-weight: normal;
  color: #86878b;
  display: block;
}

/*
* Design
*/
.design {
  background: #9a9a9a;
  padding: 74px 0px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.design .title {
  position: relative;
  color: #fff;
  max-width: 411px;
}
.design .title h2 {
  font-weight: normal;
  font-size: 36px;
}
.design .title:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 64px;
  height: 2px;
  margin-top: 26px;
  margin-left: 0px;
  right: 168px;
}
.design .text {
  margin-top: 65px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
}
.design .download-btn {
  margin-right: 15px;
}
.design .download-btn button {
  font-size: 15px;
  font-weight: 600;
  font-family: "OpenSans";
}

/*
* Contact Us
*/
.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 612px;
  padding-bottom: 80px;
}

.contact-us__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 108px;
}
.contact-us__top .title {
  max-width: 228px;
  position: relative;
}
.contact-us__top .title h2 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: normal;
  line-height: 1.19;
}
.contact-us__top .title::after {
  content: "";
  position: absolute;
  background: #ff8b38;
  width: 64px;
  height: 2px;
  margin-top: 30px;
  margin-left: 0px;
  right: 81px;
}
.contact-us__top .text {
  margin-top: 62px;
}

.contact-us__body {
  max-width: 100%;
  width: 100%;
  margin-top: 80px;
  padding: 0px 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-us__body form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.contact-us__body form input {
  max-width: 527px;
  width: 100%;
  height: 31px;
  border-bottom: 1px solid rgba(0, 0, 1, 0.16);
  margin-top: 30px;
}
.contact-us__body form input::-webkit-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body form input::-moz-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body form input:-ms-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body form input::-ms-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body form input::placeholder {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body form input:nth-child(7) {
  position: absolute;
  margin-top: 43px;
  background: #ff8b38;
  top: 200px;
  left: 520px;
  width: 148px;
  height: 46px;
  border-radius: 3px;
  color: #fff;
}
.contact-us__body form input:nth-child(7):hover {
  cursor: pointer;
  background: #9a9a9a;
}
.contact-us__body textarea {
  max-width: 527px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 1, 0.16);
  height: 142px;
  margin-top: 45px;
}
.contact-us__body textarea::-webkit-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body textarea::-moz-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body textarea:-ms-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body textarea::-ms-input-placeholder {
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.contact-us__body textarea::placeholder {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  padding: 38px 542px 15px 541px;
  margin: 60px 0 0;
  width: 100%;
}
footer img {
  width: 317px;
  height: 23px;
}
footer .text p {
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.5;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
